.handle-left {
    height: 100%;
    float: left;
    width: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-style: marquee-line;
    border-right: 1px solid silver;
}

.handle-right {
    height: 100%;
    margin-left: 400px;
}

.layui-table {
    width: 99.8%;
    margin: 0 auto;
}

.layui-table tbody tr:hover, .layui-table-hover {
    background-color: #FFFFFF;
}

.key-deal {
    width: 99.8%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    padding-left: 10px;
    border: #eaeaea 1px solid;
}

.key-info {
    margin: 0 auto;
}

.key-vals {
    width: 99.9%;
    margin: 0 auto;
}

.key-vals-text {
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #D0D0D0;
}

#value {
    height: 439px;
    line-height: 25px;
    border: #eaeaea 1px solid;
    padding: 10px;
}

.layui-layer-lan {
    width: 280px;
}

.layui-layer-dialog .layui-layer-content {
    position: relative;
    padding: 20px;
    line-height: 24px;
    word-break: break-all;
    overflow: hidden;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
}

.layui-layer-content .layui-layer-input {
    display: block;
    width: 230px;
    height: 36px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 30px;
    padding-left: 10px;
    border: 1px solid #e6e6e6;
    color: #333;
}

.query-input {
    float: left;
    margin-top: 11px;
    border-radius: 3px;
    padding-left: 10px;
    height: 28px !important;
    border: 1px solid silver;
}

.query-button {
    margin-left: 1px !important;
}

