.handle-left {
    height: 100%;
    float: left;
    width: 800px;
    border-right: 1px solid silver;
}

.chart-div {
    width: 765px;
}

.chart-box {
    display: block;
}

.layui-fluid {
    padding: 0;
}

.layui-colla-title {
    font-size: 14px;
    font-weight: bold;
}

.layui-colla-content {
    color: steelblue;
    line-height: 30px;
    margin-left: 20px;
}

.handle-right {
    height: 100%;
    margin-left: 800px;
}