.handle-left {
    height: 100%;
    float: left;
    width: 240px;
    border-right: 1px solid silver;
}

.handle-left-item {
    color: #1296DB;
    height: 50px;
    display: block;
    line-height: 50px;
    border-bottom: 1px solid silver;
}

.handle-left-item i {
    margin-left: 20px;
}

.handle-left-item cite {
    margin-left: 5px;
}

.handle-left-item:hover {

    background-color: #EEEDEF;
}

.handle-left-item cite:hover {
    cursor: pointer;
}

.handle-right {
    height: 100%;
    margin-left: 240px;
}

.layui-table-view {
    margin: 0px;
}



