.handle-left {
    height: 100%;
    float: left;
    width: 800px;
    border-right: 1px solid silver;
}

.app-logo {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.app-text {
    width: 660px;
    height: 120px;
    margin: 0 auto;
    padding: 20px;
    line-height: 25px;
    background: #eaeaea;
}

.app-info {
    width: 700px;
    margin: 0 auto;
}

.layui-table tbody tr:hover, .layui-table-hover {
    background-color: #FFFFFF;
}

.handle-right {
    height: 100%;
    margin-left: 800px;
}

.layui-form-div {
    margin-top: 20px;
}

.layui-form-pane {
    width: 90%;
    margin: 0 auto;
}

.layui-form-pane .layui-form-label {
    width: 90px;
}

.layui-textarea {
    resize: none;
    padding: 6px 15px;
    height: 260px;
}

.layui-form-pane .layui-input-block {
    margin-left: 90px;
}

.layui-btn {
    right: 0px;
}

hr {
    clear: none;
}

.layui-card-body {
    color: darkorange;
    line-height: 25px;
    border-top: 1px solid #D0D0D0;
}