#winRoot {
    -fx-border-width: 1;
    -fx-border-color: silver;
}

#topView {
    -fx-border-width: 0;
    -fx-background-color: white;
}

#winImage {
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch stretch;
    -fx-background-position: center center;
    -fx-background-image: url('../image/task-logo.png');
}

#winTitle {
    -fx-font-size: 15px;
}

#winAbate {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

#winClose {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

#winAbate:hover {
    -fx-cursor: hand;
    -fx-background-radius: 5px;
    -fx-background-color: #ECE9EF;
}

#winClose:hover {
    -fx-cursor: hand;
    -fx-background-radius: 5px;
    -fx-background-color: #ECE9EF;
}
